.hTwo{
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.6)
}
.inp{
    margin-top: 10px;
    margin-bottom: 10px;
}
.time{
    width: 100%;
    margin-bottom: 10px;
}
.btn{
    width: 100%;
}
.Switch{
    float: right;
    margin-top: 3px;
}