.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
.logo {
 /* width: 120px; */
  overflow: hidden;
  height: 44px;
  /* background: rgba(255,255,255,.2);   */
  margin: 10px 28px 10px -30px;
  float: left;
  line-height: 44px;
  }