.mainIndex{
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 5%;
    right: 5%;
    height: 170px;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
     box-shadow: #666 0px 0px 10px;
     z-index: 6;
}
.title{
   width: 100%;
}
.title span{
    font-size: 16px;
    color: #373737;
}
.dividerLine{
    margin:5px 0;
    padding:0px;
    clear: both;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.contentLeft{
    width: 60%;
}
.contentRight{
    width: 40%;
}
.subTitle{
    font-size: 14px;
    color: #373737;
    font-weight: bold;
}
.contentSubDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.contentSubDivitem{
    width: 50%;
}
