.mainBox{
    width: 100%;
    height: calc(100vh - 64px);
    overflow:hidden ;
    position: relative;
}
.rightTop{
    position: absolute;
    top: 26px;
    right: 26px;
    z-index: 10;
    border-radius: 3px;
    padding: 4px;
    background-color: #fff;
    box-shadow:3px 3px 5px 0px rgba(33, 33, 33, 0.5);
}