<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>后湖社区防控系统</title>
  <!-- <link rel="stylesheet" href="./index.css" /> -->
  <link rel="stylesheet" href="./Cesium/Widgets/widgets.css" />
  <script type="text/javascript" src="./Cesium/Cesium.js"></script>
  <!-- <script type="text/javascript" src="./Cesium/Workers/zlib.min.js"></script> -->
  <script>
  window.iserverBasePath = 'http://10.73.93.187:8090/iserver/services/data-wuhan/rest/data';
  window.apiService = 'http://10.73.93.187:8080/mtg-xlgc/';
  window.ThreeServerApi = 'http://10.73.93.187:8090/iserver/services/'
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>