
.normal {
    width: 100%;
    padding:  10px 14px 10px  50px;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden
}
.main{
    position: relative;
    z-index: 11
}
.but{
    position: absolute;
    top:14px;
    left:13px
}